flows/bottleneck - backup.yaml
id: bottleneck_pipeline
namespace: company.bottleneck

description: |
  Pipeline d'orchestration BottleNeck :
  - conversion des sources Excel en CSV
  - nettoyage / dédoublonnage avec DuckDB
  - jointure ERP / liaison / Web
  - calcul du chiffre d'affaires
  - segmentation premium / ordinaire avec z-score
  - exports finaux

triggers:
  - id: monthly_schedule
    type: io.kestra.plugin.core.trigger.Schedule
    cron: "0 9 15 * *"

retry:
  behavior: RETRY_FAILED_TASK
  type: constant
  interval: PT30S
  maxAttempts: 2

errors:
  - id: log_failure
    type: io.kestra.plugin.core.log.Log
    message: |
      Échec du workflow {{ flow.namespace }}.{{ flow.id }}
      Execution: {{ execution.id }}
      TaskRun: {{ taskrun.id }}


tasks:

  # 1) Préparation des fichiers sources

  - id: prepare_sources
    type: io.kestra.plugin.scripts.python.Commands
    taskRunner:
      type: io.kestra.plugin.core.runner.Process
    containerImage: ghcr.io/kestra-io/pydata:latest
    beforeCommands:
      - pip install pandas openpyxl
    commands:
      - python /app/scripts/prepare_sources.py

  - id: test_input_files
    type: io.kestra.plugin.scripts.python.Commands
    taskRunner:
      type: io.kestra.plugin.core.runner.Process
    containerImage: ghcr.io/kestra-io/pydata:latest
    beforeCommands:
      - pip install pandas
    commands:
      - |
        python - <<'PY'
        import os
        import pandas as pd

        expected = {
            "/app/data/erp.csv": ["product_id","onsale_web","price","stock_quantity","stock_status"],
            "/app/data/web.csv": ["sku","virtual","downloadable","rating_count","average_rating","total_sales","tax_status","tax_class","post_author","post_date","post_date_gmt","post_content","post_title","post_excerpt","post_status","comment_status","ping_status","post_password","post_name","post_modified","post_modified_gmt","post_content_filtered","post_parent","guid","menu_order","post_type","post_mime_type","comment_count"],
            "/app/data/liaison.csv": ["product_id", "id_web"]
        }

        for file_name, required_cols in expected.items():
            assert os.path.exists(file_name), f"Fichier absent: {file_name}"
            df = pd.read_csv(file_name)
            missing = [c for c in required_cols if c not in df.columns]
            assert not missing, f"Colonnes manquantes dans {file_name}: {missing}"

        print("Tests d'entrée OK.")
        PY

  # 2) Nettoyage et dédoublonnage avec DuckDB
  
  - id: clean_erp
    type: io.kestra.plugin.jdbc.duckdb.Query
    retry:
      type: constant
      interval: PT10S
      maxAttempts: 3
    url: jdbc:duckdb:/app/data/bottleneck.duckdb
    sql: "{{ read('clean_erp.sql') }}"

  - id: test_clean_erp
    type: io.kestra.plugin.jdbc.duckdb.Query
    url: jdbc:duckdb:/app/data/bottleneck.duckdb
    fetchType: FETCH_ONE
    sql: |
      SELECT
        COUNT(*) AS nb_rows,
        COUNT(DISTINCT product_id) AS nb_distinct_ids
      FROM erp_clean;

  - id: assert_clean_erp
    type: io.kestra.plugin.core.execution.Assert
    errorMessage: "Le nettoyage ERP a produit des doublons sur product_id."
    conditions:
      - "{{ outputs.test_clean_erp.row.nb_rows == outputs.test_clean_erp.row.nb_distinct_ids }}"

  - id: clean_web
    type: io.kestra.plugin.jdbc.duckdb.Query
    url: jdbc:duckdb:/app/data/bottleneck.duckdb
    retry:
      type: constant
      interval: PT10S
      maxAttempts: 3
    sql: "{{ read('clean_web.sql') }}"

  - id: test_clean_web
    type: io.kestra.plugin.jdbc.duckdb.Query
    url: jdbc:duckdb:/app/data/bottleneck.duckdb
    fetchType: FETCH_ONE
    sql: |
      SELECT COUNT(*) AS nb_rows
      FROM web_clean;

  - id: assert_clean_web
    type: io.kestra.plugin.core.execution.Assert
    errorMessage: "La table web_clean est vide."
    conditions:
      - "{{ outputs.test_clean_web.row.nb_rows > 0 }}"

  - id: single_web
    type: io.kestra.plugin.jdbc.duckdb.Query
    url: jdbc:duckdb:/app/data/bottleneck.duckdb
    retry:
      type: constant
      interval: PT10S
      maxAttempts: 3
    sql: "{{ read('single_web.sql') }}"

  - id: test_single_web
    type: io.kestra.plugin.jdbc.duckdb.Query
    url: jdbc:duckdb:/app/data/bottleneck.duckdb
    fetchType: FETCH_ONE
    sql: |
      SELECT
        COUNT(*) AS nb_rows,
        COUNT(DISTINCT sku) AS nb_distinct_sku
      FROM web_single;

  - id: assert_single_web
    type: io.kestra.plugin.core.execution.Assert
    errorMessage: "La table web_clean a des doublons."
    conditions:
      - "{{ outputs.test_single_web.row.nb_rows == outputs.test_single_web.row.nb_distinct_sku }}"

  - id: clean_liaison
    type: io.kestra.plugin.jdbc.duckdb.Query
    url: jdbc:duckdb:/app/data/bottleneck.duckdb
    retry:
      type: constant
      interval: PT10S
      maxAttempts: 3
    sql: "{{ read('clean_liaison.sql') }}"

  - id: test_clean_liaison
    type: io.kestra.plugin.jdbc.duckdb.Query
    url: jdbc:duckdb:/app/data/bottleneck.duckdb
    fetchType: FETCH_ONE
    sql: |
      SELECT COUNT(*) AS nb_rows
      FROM liaison_clean;

  - id: assert_clean_liaison
    type: io.kestra.plugin.core.execution.Assert
    errorMessage: "La table liaison_clean est vide."
    conditions:
      - "{{ outputs.test_clean_liaison.row.nb_rows > 0 }}"

# 3) Fusion des tables ERP et WEB avec la table Liaison

  - id: merge_systems
    type: io.kestra.plugin.jdbc.duckdb.Query
    url: jdbc:duckdb:/app/data/bottleneck.duckdb
    retry:
      type: constant
      interval: PT10S
      maxAttempts: 3
    sql: "{{ read('fusion.sql') }}"

  - id: test_merge
    type: io.kestra.plugin.jdbc.duckdb.Query
    url: jdbc:duckdb:/app/data/bottleneck.duckdb
    fetchType: FETCH_ONE
    sql: |
      SELECT COUNT(*) AS nb_rows
      FROM ventes_fusionnees;

  - id: assert_merge
    type: io.kestra.plugin.core.execution.Assert
    errorMessage: "La jointure finale n'a retourné aucune ligne."
    conditions:
      - "{{ outputs.test_merge.row.nb_rows > 0 }}"

# 4) Calcul du chiffre d'affaires

  - id: calculate_revenue
    type: io.kestra.plugin.jdbc.duckdb.Query
    url: jdbc:duckdb:/app/data/bottleneck.duckdb
    retry:
      type: constant
      interval: PT10S
      maxAttempts: 3
    sql: "{{ read('ca_produit.sql') }}"

  - id: test_revenue
    type: io.kestra.plugin.jdbc.duckdb.Query
    url: jdbc:duckdb:/app/data/bottleneck.duckdb
    fetchType: FETCH_ONE
    sql: |
      SELECT
        MIN(chiffre_affaires) AS min_ca,
        MAX(chiffre_affaires) AS max_ca
      FROM ca_par_produit;

  - id: assert_revenue
    type: io.kestra.plugin.core.execution.Assert
    errorMessage: "Le calcul du chiffre d'affaires est incohérent."
    conditions:
      - "{{ outputs.test_revenue.row.min_ca >= 0 }}"
      - "{{ outputs.test_revenue.row.max_ca > 0 }}"

  - id: calculate_total_revenue
    type: io.kestra.plugin.jdbc.duckdb.Query
    url: jdbc:duckdb:/app/data/bottleneck.duckdb
    retry:
      type: constant
      interval: PT10S
      maxAttempts: 3
    sql: "{{ read('ca_total.sql') }}"

  - id: test_total_revenue
    type: io.kestra.plugin.jdbc.duckdb.Query
    url: jdbc:duckdb:/app/data/bottleneck.duckdb
    fetchType: FETCH_ONE
    sql: |
      SELECT chiffre_affaires_total
      FROM ca_global;

  - id: assert_total_revenue
    type: io.kestra.plugin.core.execution.Assert
    errorMessage: "Le calcul du chiffre d'affaires total est incohérent."
    conditions:
      - "{{ outputs.test_total_revenue.row.chiffre_affaires_total > 0 }}"

# 5) Classification des vins Premiums/Ordinaires

  - id: classify_wines
    type: io.kestra.plugin.scripts.python.Commands
    taskRunner:
      type: io.kestra.plugin.core.runner.Process
    beforeCommands:
      - pip install pandas duckdb
    commands:
      - python /app/scripts/premium_ordinary.py

  - id: test_classification
    type: io.kestra.plugin.scripts.python.Commands
    taskRunner:
      type: io.kestra.plugin.core.runner.Process
    beforeCommands:
      - pip install pandas
    commands:
      - |
        python - <<'PY'
        import pandas as pd

        premium = pd.read_csv("/app/outputs/vins_premium.csv")
        ordinaire = pd.read_csv("/app/outputs/vins_ordinaires.csv")

        premium_ids = set(premium["product_id"].astype(str)) if not premium.empty else set()
        ordinaire_ids = set(ordinaire["product_id"].astype(str)) if not ordinaire.empty else set()

        overlap = premium_ids.intersection(ordinaire_ids)
        assert len(overlap) == 0, f"Des produits sont dans les deux segments: {overlap}"

        print("Classification OK.")
        PY

# 6) Export du rapport final et vérification de la présence de tout les fichiers 

  - id: export_xlsx
    type: io.kestra.plugin.scripts.python.Commands
    taskRunner:
      type: io.kestra.plugin.core.runner.Process
    beforeCommands:
      - pip install pandas openpyxl
    commands:
      - python /app/scripts/export_report.py

  - id: test_exports
    type: io.kestra.plugin.scripts.python.Commands
    taskRunner:
      type: io.kestra.plugin.core.runner.Process
    commands:
      - |
        python - <<'PY'
        import os

        expected_files = [
            "/app/outputs/rapport_chiffre_affaires.xlsx",
            "/app/outputs/vins_premium.csv",
            "/app/outputs/vins_ordinaires.csv"
        ]

        for f in expected_files:
            assert os.path.exists(f), f"Fichier non généré: {f}"
            assert os.path.getsize(f) > 0, f"Fichier vide: {f}"

        print("Tous les exports sont présents et non vides.")
        PY